
 .all{
        height: 638px;padding:20px 27px 0 27px;
       .title{
            height: 38px;border-bottom:1px solid #CFCFCF;
            h4{
                float:left;
                width: 90px;background-color:#19B394;line-height: 38px;color:#fff;text-align:center;
            }
            p{
                position:relative;float:right;width: 215px;
                input{
                width: 215px;height: 28px;border:1px solid #E2E4E4;border-radius:14px;
                 outline:none;padding-left:40px;

                }
                i{
                    position:absolute;
                    left:15px;top:7px;font-size:16px;
                    color:#19B394;
                }
            }
            
        }
        .nav{
            height: 105px;
            padding-top:15px;
            >ul{
                height: 92px;padding-left:10px;padding-top:13px;
                border:1px solid #DEE1E3;box-shadow:0px 0px 1px 0px #DEE1E3;background-color:#fff;
                >li{
                    float:left;height: 45px;line-height: 45px;
                    padding-left:30px;padding-right:10px;position:relative;
                    i{position:absolute;left:10px;top:15px;color:#19B394;}
                }
            }
        }
        .data{
            margin-top:15px;background-color:#fff;
        }

}