.all {
  height: 638px;
  padding: 20px 27px 0 27px;
  background-color: #F0F3F4;
}

.all .title {
  height: 38px;
  border-bottom: 1px solid #CFCFCF;
}

.all .title ul {
  float: left;
}

.all .title ul li {
  float: left;
  width: 90px;
  line-height: 38px;
  color: #333;
  text-align: center;
}

.all .title ul .atv {
  background-color: #19B394;
  color: #fff;
}

.all .title p {
  position: relative;
  float: right;
  width: 215px;
}

.all .title p input {
  width: 215px;
  height: 28px;
  border: 1px solid #E2E4E4;
  border-radius: 14px;
  outline: none;
  padding-left: 40px;
}

.all .title p i {
  position: absolute;
  left: 15px;
  top: 7px;
  font-size: 16px;
  color: #19B394;
}

.all .prd .nav {
  height: 70px;
  padding-top: 15px;
}

.all .prd .nav > ul {
  height: 92px;
  padding-left: 10px;
  padding-top: 13px;
  background-color: #fff;
}

.all .prd .nav > ul > li {
  float: left;
  height: 45px;
  line-height: 45px;
  padding-left: 30px;
  padding-right: 10px;
  position: relative;
}

.all .prd .nav > ul > li i {
  position: absolute;
  left: 10px;
  top: 15px;
  color: #19B394;
}

.all .prd .data {
  margin-top: 15px;
  background-color: #fff;
}
